<app-header></app-header>
<mat-card class="pitt-card">
  <mat-card-content>
    <p class="card-p">
      Please follow the step to finish the question.
    </p>
    <br>
    <p>This will help City of Pittsburgh improve our city service</p>
    <mat-vertical-stepper [linear]="isLinear" #stepper="matVerticalStepper">
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Fill out your address</ng-template>
          <mat-form-field class="input-part">
            <input matInput placeholder="Address" formControlName="addressOne" [(ngModel)]="q.address1"required>
          </mat-form-field>
          <mat-form-field class="input-part">
            <input matInput placeholder="Number of individual in the household" [(ngModel)]="q.numberHousehold" formControlName="numberHousehold">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="City" formControlName="city" [(ngModel)]="q.city" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="State" formControlName="state" [(ngModel)]="q.state" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Zipcode" formControlName="zipCode" [(ngModel)]="q.zipcode" required>
          </mat-form-field>
          <div>
            <button mat-raised-button matStepperPrevious color="accent">Back</button>
            <button mat-raised-button matStepperNext color="primary">Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <mat-chip-list>
          <!--<mat-chip>{{q.name}}</mat-chip>-->
          <mat-chip>Address: {{q.address1}}</mat-chip>
          <mat-chip>Household Number: {{q.numberHousehold}}</mat-chip>
          <mat-chip>City: {{q.city}}</mat-chip>
          <mat-chip>State: {{q.state}}</mat-chip>
          <mat-chip>ZipCode: {{q.zipcode}}</mat-chip>
        </mat-chip-list>
        <br>
        You are now done. Thanks for helping the city.
        <br>
        <br>
        <div>
          <button mat-raised-button matStepperPrevious color="accent">Back</button>
          <button mat-raised-button (click)="stepper.reset()" color="primary">Reset</button>
          <button mat-raised-button color="warn" (click)="submit()">Submit</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </mat-card-content>
</mat-card>

