.pitt-card {
  width:1000px;
  left: 50%;
  margin-left:-500px;
  position: absolute;
  margin-top: 5%;
}

.card-p{
  text-align: center;
  font-size:18px;
  color: #3f51b5;
  font-style: italic;
}

.input-part{
  width: 100%;
}


.table-container{
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}
