<app-header></app-header>
<mat-card class="pitt-card">
  <mat-card-content>
    <p class="card-p">
      Please follow the step to finish the question.
    </p>
    <br>
    <p>This will help City of Pittsburgh improve our city service</p>
    <mat-vertical-stepper [linear]="isLinear" #stepper="matVerticalStepper">
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Fill out your address</ng-template>
          <mat-form-field class="input-part">
            <input matInput placeholder="Address" formControlName="addressOne" [(ngModel)]="q.address1"required>
          </mat-form-field>
          <mat-form-field class="input-part">
            <input matInput placeholder="Number of individual in the household" [(ngModel)]="q.numberHousehold" formControlName="numberHousehold">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="City" formControlName="city" [(ngModel)]="q.city" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="State" formControlName="state" [(ngModel)]="q.state" required>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Zipcode" formControlName="zipCode" [(ngModel)]="q.zipcode" required>
          </mat-form-field>
          <div>
            <button mat-raised-button matStepperPrevious color="accent">Back</button>
            <button mat-raised-button matStepperNext color="primary">Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="firstFormGroup">
          <ng-template matStepLabel>Please answer related questions below</ng-template>
          <mat-radio-group [(ngModel)]="computerDevice">
            <mat-radio-button class="example-radio-button" *ngFor="let choice of otherComputerDevice" [value]="choice.value">
              {{choice.viewValue}}
            </mat-radio-button>
          </mat-radio-group>
        <br>
        <form [formGroup]="firstFormGroup">
          <mat-form-field style="width:100%;">
            <mat-select placeholder="Why do you not have internet" formControlName="firstCtrl" multiple [(value)]="reasonForNoInternet">
              <mat-option *ngFor="let choice of notHaveInternet" [value]="choice">{{choice}}</mat-option>
            </mat-select>
          </mat-form-field>
          <p>You selected: {{reasonForNoInternet}}</p>
          <div>
            <button mat-raised-button matStepperPrevious color="accent">Back</button>
            <button mat-raised-button matStepperNext color="primary">Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Your Answers</ng-template>
        <mat-chip-list>
          <mat-chip color="primary" selected="true">Address: {{q.address1}}</mat-chip>
          <mat-chip color="primary" selected="true">Household Number: {{q.numberHousehold}}</mat-chip>
          <mat-chip color="primary" selected="true">City: {{q.city}}</mat-chip>
        </mat-chip-list>
        <br>
        <mat-chip-list>
          <mat-chip color="primary" selected="true">State: {{q.state}}</mat-chip>
          <mat-chip color="primary" selected="true">ZipCode: {{q.zipcode}}</mat-chip>
          <mat-chip color="primary" selected="true">Own a computer device beyond a smart phone: {{computerDevice}}</mat-chip>
        </mat-chip-list>
        <br>
        <mat-chip-list>
          <mat-chip color="primary" selected="true">Why do you not have internet: {{reasonForNoInternet}}</mat-chip>
        </mat-chip-list>
        <br>
        You current location is collected for no commercial purpose. Thanks for helping the city.
        <br>
        <br>
        <div>
          <button mat-raised-button matStepperPrevious color="accent">Back</button>
          <button mat-raised-button (click)="stepper.reset()" color="primary">Reset</button>
          <button mat-raised-button color="warn" (click)="submit()">Submit</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </mat-card-content>
</mat-card>

